<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <form id="recommended" method="POST" action="">
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="mt-5"></div>
      <div class="form-group">
        <label for="squarefeet">Nhập diện tích nhà (m<sup>2</sup>)</label>
        <input type="number" class="form-control" id="squarefeet" value="{{squarefeet}}" name="squarefeet">
    
      </div>
      <button type="submit" class="btn btn-primary">Dự đoán</button>
    </form>
    
    <h3 id="result mt-5 pt-5">
      {{#if price}}
        Căn nhà này có giá khoảng: {{price}} vnd / tháng nè
      {{/if}}
    </h3>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script>
    
  </script>
</body>
</html>